<div>
  <form action="/user/create" method="post" id="signin-signup-form">
    <div class="form-heading">
      Create a new account
    </div>

    <div class="signin-form-field">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" title="Username must not be blank and contain only letters, numbers and underscores." minlength="3" maxlength="60" required pattern="\w+">
    </div>

    <div class="signin-form-field">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required maxlength="60">
    </div>

    <div class="signin-form-field">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" title="Password must contain at least 6 characters, including UPPER/lowercase and numbers." required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" minlength="6" maxlength="80">
    </div>

    <div class="signin-form-field">
      <input type="submit" value="submit">
    </div>
  </form>
</div>